/config.py
/.idea/vcs.xml
/views/index.tpl.bkp
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/rest_srv.iml
/subscriber_log.txt
/__pycache__/*
/out.txt
/out_log.txt
/subscriber_log.txt
/venv/*
/test.py
/db/sensors_values.db
/Classes/__pycache__/
.DS_Store
assets/.DS_Store
assets/js/.DS_Store

/certs/reg_cert.pem
/certs/reg_key.pem
/certs/rootCA.crt
